{% extends 'layout.html' %}

{% block body %}
    <form action="/inserir" method="POST">
        <dl>
            <dt>Título
                <dd><input type="text" size="30" name="titulo"></dd>

            </dt>
            <dt>Texto
                <dd><textarea name="texto" id="" cols="40" rows="5"></textarea></dd>
                <dd><input type="submit" value="publicar"></dd>
            </dt>

        </dl>
    </form>

    <ul>

        {% for entrada in entradas %}
            <li><h2>{{ entrada.titulo }}</h2>{{ entrada.texto }}</li>
        {% else %}
            <p>Ainda não tem um post.</p>    
        {% endfor %}
        
    </ul>

{% endblock %}